.container{"style" => "padding-top: 15px;"}
  .row
    .profile.col-xs-3{"id"=> "user#{@user.id}"}
      .user_show
        = image_tag 'no_image2.png', class: "userimage img-rounded pull-left"
        %div.username
          = link_to @user.username, user_path(@user)
        = render 'follow', user: @user
    .timeline.col-xs-9.list-group
      %ul.nav.nav-tabs
        %li{"class"=> "#{user_show_path? ? 'active' : ''}"}
          = link_to 'ツイート', user_url(@user)
        %li{"class"=> "#{user_followings_path? ? 'active' : ''}"}
          = link_to 'フォロー', user_followings_url(@user)
        %li{"class"=> "#{user_followers_path? ? 'active' : ''}"}
          = link_to 'フォロワー', user_followers_url(@user)
        %li{"class"=> "#{user_likes_path? ? 'active' : ''}"}
          = link_to 'いいね', user_likes_url(@user)
      - if me?(@user)
        = link_to 'プロフィール変更', edit_user_registration_path, class: "edit_profile btn btn-info"
      - if user_show_path? 
        = render 'tweets', tweets: @user.tweets
      - elsif user_followings_path?
        .users_followings<
          = render 'follow_users', users: @user.followings
      - elsif user_followers_path?
        .users_followers<
          = render 'follow_users', users: @user.followers
      - elsif user_likes_path?
        .users_likes<
          = render 'tweets', tweets: @user.like_tweets
