.container{"style" => "padding-top: 15px;"}
  .row
    .profile.col-xs-3
      - if not me?(@user)
        = render 'follow', user: @user
    .timeline.col-xs-9.list-group
      %ul.nav.nav-tabs
        %li{"class"=> "#{user_show_path? ? 'active' : ''}"}
          = link_to 'ツイート', user_url(@user)
        %li{"class"=> "#{user_followings_path? ? 'active' : ''}"}
          = link_to 'フォロー', user_followings_url(@user)
        %li{"class"=> "#{user_followers_path? ? 'active' : ''}"}
          = link_to 'フォロワー', user_followers_url(@user)
        %li{"class"=> "#{user_likes_path? ? 'active' : ''}"}
          = link_to 'いいね', user_likes_url(@user)
      - if user_show_path? 
        = render 'tweets', tweets: @user.timeline_tweets.map{ |t| t.retweeteds.present? ? t.retweeteds.first : t }
      - elsif user_followings_path?
        .users_followings<
          followings
      - elsif user_followers_path?
        .users_followers<
          followers
      - elsif user_likes_path?
        .users_likes<
          = render 'tweets', tweets: @user.like_tweets
