- content_for :title_area do
  .dmtitle<
    ダイレクトメッセージ
  .dmnew<
    = link_to "メッセージを作成", new_dm_path, class: "btn btn-primary btn-home"
- dms = current_user.dms
- if dms.present?
  - dms.each do |dm|
    .list-group-item<
      = link_to dm_path(dm) do
        = sendto_usernames(dm.users)
      = "(#{dm.updated_at.to_s(:time_default)})"
- else
  .no_dm.list-group-item<
    該当のダイレクトメッセージは存在しません
