.dm.container
  .row
    .col-xs-12.list-group
      .list-group-item
        .dmtitle<
          送付先選択
        .dmshow<
      .dmsearcharea.list-group-item
        メッセージを送付するユーザ名を検索し、選択してください
        = form_tag submit_dms_users_path, method: :post, remote: true do
          = text_field_tag :search_text
          = submit_tag "検索", class: "btn btn-primary dmsearchbtn", name: "searchbtn"
          .dmusers
            = render 'users', search_text: @search_text, userarray: @userarray
          = submit_tag "次へ", class: "btn btn-primary dmsearchbtn", name: "nextbtn"
