- content_for :title_area do
  .dmtitle<
    送付先選択
.dmsearcharea.list-group-item
  メッセージを送付するユーザ名を検索し、選択してください
  = form_tag submit_users_dms_path, method: :post, remote: true do
    = text_field_tag :search_text, "", placeholder: "名前を入力してください"
    = submit_tag "検索", class: "btn btn-primary dmsearchbtn", name: "searchbtn"
    .dmusers
      = render 'users', search_text: @search_text, user_array: @user_array
    = submit_tag "次へ", class: "btn btn-primary dmsearchbtn", name: "nextbtn"
