- content_for :title_area do
  .dmtitle<
    = "ダイレクトメッセージ送信（#{sendto_usernames(@dm.users)}）"
.list-group-item
  = render 'message_input', action: "add_message", method: :post
.detail.list-group-item
  .list-group
    - @dm.dmmessages.each do |msg|
      .content.list-group-item
        .username<
          = msg.user.username
        %div<
          = msg.content
