- content_for :title_area do
  .dmtitle<
    = "ダイレクトメッセージ送信（#{sendto_usernames(@dm.users)}）"
.list-group-item
  = form_for [@dm, DmMessage.new], remote: true do |form|
    = render 'message_input', form: form, onclick_func: "return check_content_present();"
.detail.list-group-item
  .list-group
    - @dm.dm_messages.each do |dm_message|
      = render dm_message
