.container{"style" => "padding-top: 15px;"}
  .row
    .profile.col-xs-3
      .panel.panel-default
        .user.panel-heading{"style"=> "background-color: #0084B4; height: 100px;"}
          = image_tag 'no_image1.png', class: "img-rounded userimage"
          .username<
            graboros
        .panel-body
          .row{"style"=> "padding-top: 30px;"}
            .tweets.col-xs-4
              %div<
                %small<
                  %div<
                    ツイート
                %div<
                  = link_to current_user.tweets.size, user_url(current_user), { class: "listcount" }
            .following.col-xs-4
              %div<
                %small<
                  フォロー
                %div<
                  = link_to current_user.followings.size, user_url(current_user), { class: "listcount" }
            .follower.col-xs-4
              %div<
                %small<
                  フォロワー
                %div<
                  = link_to current_user.followers.size, user_url(current_user), { class: "listcount" }
    .timeline.col-xs-9.list-group3
      .list-group-item{"style"=> "background-color: #E5F2F7"}
        - @tweet = Tweet.new
        = form_for @tweet, url: user_tweets_path(current_user) do |f|
          = f.text_field :content, class: "tweet", placeholder: "いまどうしてる？"
      - current_user.timeline_tweets.each do |t|
        .list-group-item<
          = t.content
