.timeline.container
  .row
    .profile.col-xs-3
      .user.panel.panel-default
        .panel-heading
          - if current_user.profile.present? and current_user.profile.image.present? 
            = image_tag current_user.profile.image.url, class: "img-rounded"
          - else
            = image_tag 'no_image1.png', class: "img-rounded"
          .username<
            = link_to current_user.username, current_user
        .panel-body
          .row
            .tweets_count.col-xs-4
              = render 'timeline_count', name: "ツイート", count: current_user.tweets.size, path: current_user
            .following_count.col-xs-4
              = render 'timeline_count', name: "フォロー", count: current_user.followings.size, path: user_followings_path(current_user)
            .follower_count.col-xs-4
              = render 'timeline_count', name: "フォロワー", count: current_user.followers.size, path: user_followers_path(current_user)
    .tweets.col-xs-9.list-group
      .tweetarea.list-group-item
        - @tweet = Tweet.new
        = form_for @tweet, url: [current_user, @tweet] do |f|
          = f.text_area :content, class: "tweet", placeholder: "いまどうしてる？", onkeyup: "tweet_keyup()", rows: "1", onfocus: "tweet_focusin()", onblur: "tweet_focusout()"
          %span.typed_count<
            140
          = f.submit_tag "ツイート", class: "btn btn-primary tweetbtn"
      = render 'tweets', tweets: @timeline_tweets
      = render 'more', tweets: @timeline_tweets , options: {remote: true, id: 'view_more'}, classname: 'morearea'

