-if tweets.any?
  - tweets.each do |t|
    - tweet = t.retweeteds.present? ? t.retweeteds.first : t
    .tweet.list-group-item.clearfixt{id: "tweet#{tweet.id}"}<
      - if t.retweeteds.present?
        .retweet_msg<
          #{t.user.username}さんがリツイート
      - if tweet.user.profile.present? and tweet.user.profile.image.present? 
        = image_tag tweet.user.profile.image.url, class: "img-rounded userimage pull-left"
      - else
        = image_tag 'no_image1.png', class: "img-rounded userimage pull-left"
      .content
        .username
          = link_to tweet.user.username, user_path(tweet.user)
        %div 
          = tweet.content
        %div 
          = render 'retweet', tweet: tweet
          = render 'like', tweet: tweet
          = render 'delete', tweet: tweet
- else
  .no_tweet.list-group-item<
    該当のツイートは存在しません
