<!DOCTYPE html>
<html>
<head>
  <title>Tsubuyaki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %> 

      <header>
        <nav>
          <%= link_to "ホーム", root_path, class: "btn btn-primary btn-home" %>
          Logged in as <strong><%= current_user.username%></strong>.
          <%= link_to '設定(ユーザ情報)', edit_user_registration_path %> |
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <span class="notice"><%= notice %></span>
          <span class="alert"><%= alert %></span>

          <%= form_tag("/search", method: "post", class: "search-form") do %>
            <%= text_field_tag 'home[text]', @text, class: 'search-text', placeholder: 'Twitterを検索' %>
            <%= submit_tag "検索", class: "btn btn-primary" %>
          <% end %>
        </nav>
      </header>
    <% end %>
<%= yield %>

</body>
</html>
