<!DOCTYPE html>
<html>
<head>
  <title>Tsubuyaki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
  .container {
    max-width: none !important;
    width: 1224px;
  }
  input[type="text"].tweet {
    width: 100%;
  }
  div.user {
    position: static;
  }
  div.user .userimage, div.follow_user .userimage {
    position: absolute;
    top: 70px;
    left: 30px;
  }
  div.user .username {
    position: absolute;
    top: 105px;
    left: 105px;
    font-weight: bold;
    font-size: 16px;
  }
  a.listcount {
    font-size: 18px;
  }
  div.tweet img.userimage {
    width: 40px;
    height: 40px;
  }
  div.tweet div.content {
    display: inline-block;
    padding-left: 10px;
  }
  div.tweet div.content div.username{
    font-weight: bold;
  }
  div.follow_user div.panel {
    margin: 5px;
    width: 290px;
    height: 260px;
    border-radius: 5px;
    background-color: white;
  }
  div.follow_user div.username {
    position: absolute;
    top: 140px;
    left: 30px;
    font-weight: bold;
    font-size: 16px;
  }
  div.follow_user a.followbtn {
    position: absolute;
    top: 100px;
    left: 200px;
    font-weight: bold;
  }
  div.profile a.followbtn{
    width: 200px;
  }
  div.retweet_msg {
    color: gray;
    padding-left: 50px;
  }
  </style>
</head>
<body style="background-color: #F5f8fa">

<header style="background-color: white; height :50px;">
  <nav>
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %> 
    <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
    <!-- *_path はUserモデルを作成したときに、
      deviseにより自動で作成されてますので、rake routesで確認できます -->
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'プロフィール変更', edit_user_registration_path %> |
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "サインイン", new_user_registration_path %> |
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
  </nav>
  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
</header>

<%= yield %>

</body>
</html>
